<h2>Gifer Profile</h2>

<div>
  <p>Name: <%= @current_user.name %></p>
  <p>Username: @<%= @current_user.username %> </p>
  <p>Email: <%= @current_user.email %></p>
  <p>Biography: <%= @current_user.biography %></p>
  <% if @current_user.profile_img.size > 0 %>
    <%= image_tag @current_user.profile_img %>
  <% else %>
    <p>You do not have any profile image yet</p>
  <% end %>
</div>
