<h2>Gifer Profile</h2>

<div>
    <p>Name: <%= @user.name %></p>
    <p>Username: @<%= @user.username %></p>
    <p>Email: <%= @user.email %></p>
    <p>Biography: <%= @user.biography %></p>
    <%= render :partial => 'stats' %>
      <% if @user.profile_img.size > 0 %>
       <%= cl_image_tag @user.profile_img %>
      <% else %>
        <p>You do not have any profile image yet</p>
      <% end %>
</div>
