<h2>Gif-load</h2>
<div>
  <%= form_for @post, :url => user_posts_path( :user_id => @current_user ) do | f | %>
    <div><%= f.text_field :caption, :placeholder => "Caption..." %></div>
    <div><%= f.text_field :post_gif, :placeholder => "Your gif..." %></div>
    <%= f.submit "Gif it!" %>
  <% end %>
</div>

<br />

<% @posts.each do | post | %>
  <div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card hoverable">
        <div class="card-image">
          <%= link_to( image_tag( post.post_gif, :class => "activator" ), user_post_comments_path( :user_id => post.user.id, :post_id => post.id ) )%>
        </div>
        <div class="card-content row valign-wrapper">
          <div class="col s2">
            <% if post.user.profile_img.include?( 'http:' ) || post.user.profile_img.include?( 'https:' ) %>
              <%= image_tag post.user.profile_img, :alt => post.user.name, :class => "circle responsive-img" %>
            <% else %>
              <%= cl_image_tag post.user.profile_img, :alt => post.user.name, :class => "circle responsive-img" %>
            <% end %>
          </div>
          <div class="col s10">
            <span class="card-title grey-text text-darken-4"><%= post.caption %></span>
            <p>Few minutes ago</p>
          </div>
        </div>
        <div class="card-action">
          <%= link_to( "Nothing Here", "#") %>
        </div>
      </div>
    </div>
  </div>
<% end %>
