<div class="row">
  <ul class="collapsible col s12 m8 offset-m2 l6 offset-l3" data-collapsible="accordion">
    <li>
      <div class="collapsible-header center-align">Gif-load</div>
      <div class="collapsible-body">
        <div class="row">
          <div class="col s12">
            <ul class="tabs tabs-fixed-width">
              <li class="tab col s3"><a class="" href="#gifit">I gif it</a></li>
              <li class="tab col s3"><a href="#randomgif">Random Shit</a></li>
            </ul>
          </div>
          <div id="gifit" class="col s12">
            <%= form_for @post, :url => user_posts_path( :user_id => @current_user ), :html => { :multipart => true } do | f | %>
              <div><%= f.text_field :caption, :placeholder => "Caption..." %></div>
              <div><%= f.cl_image_upload :post_gif %></div>
              <div class="right-align"><%= f.submit "Gif it!", :class => "deep-purple lighten-2 btn" %></div>
            <% end %>
          </div>
          <div id="randomgif" class="col s12">
            <br />
            <%= form_for @post, :url => random_post_path( :user_id => @current_user ), :html => { :multipart => true } do | f | %>
              <div class="center-align"><%= f.submit "I feel random!", :class => "deep-purple lighten-2 btn" %></div>
            <% end %>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<br />

<% @posts.each do | post | %>
  <div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card hoverable">
        <div class="card-image">
          <%= link_to( cl_image_tag( post.post_gif, :class => "activator" ), user_post_comments_path( :user_id => post.user.id, :post_id => post.id ) )%>
        </div>
        <div class="card-content row valign-wrapper">
          <div class="col s2">
            <% p post.user.profile_img.match( /^https:\/\/.+/ ) %>
            <% #if post.user.profile_img.include?( 'http://' ) || post.user.profile_img.include?( 'https://' ) %>
              <%#= link_to( image_tag( post.user.profile_img, :alt => post.user.name, :class => "circle responsive-img" ), user_posts_path( :user_id => post.user.id ) ) %>
            <% #else %>
              <%#= link_to( cl_image_tag( post.user.profile_img, :alt => post.user.name, :class => "circle responsive-img" ), user_posts_path( :user_id => post.user.id ) ) %>
            <% #end %>
          </div>
          <div class="col s10">
            <span class="card-title grey-text text-darken-4"><%= post.caption %></span>
            <p>Posted <%= time_ago_in_words( post.created_at ) %> ago</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
