<!DOCTYPE html>
<html>
<head>
  <title>gif.gram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>GifGram</h1>

  <nav>
    <%= link_to( "Home", root_path ) %> |
    <%= link_to( "About", about_path) %> |
    <%= link_to( "Grams", posts_path ) %> |
    <%= link_to( "Users", users_path ) %>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
